name: Build and Run Docker Compose

on:
  push:
    branches:
      - main 

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker Compose services
        run: docker compose -f docker-compose.yml build

      - name: Run Docker Compose services
        run: docker compose -f docker-compose.yml up -d

      - name: Show running containers
        run: docker ps -a
